.background
{
    /* width: max-content; */


}

/* deck area */

.canvas 
{

    width: 100%;
    height:100%;


    
    
    /* width: 100%;
    height: 100vh;
    background: linear-gradient(270deg, #d309e1 0%, rgb(156, 26, 255) 100%);
    padding: 0;
    margin: 0; */
  
}

/* deck */

.decks
{
    display: flex;
    margin-top: 15%;
    justify-content: space-evenly;

}
.deck
{
    
    position: relative;

    /* flex-shrink: 2; */
    text-align: center;
    /* margin: auto; */
    width: 200px;
    height: 300px;
    border-radius: 15px;
    background: #091947;
    transition: 0.5s;
}

.deck:hover
{
    cursor: pointer;
    transform: scale(1.1);

}

.deck-title
{
    color: white;
}

.deck-img
{
    width: inherit;
}

.deck-img img
{
    width: 90%;
  margin: 10px auto;
  border-radius: 15px;
}

/* btm card */

.bottom-area
{
    position: fixed;
    /* position: absolute; */
    /* transform: translateY(40px); */
    bottom: 0;
    width: 100%;
    transition: transform 0.7s;
    /* overflow-x: scroll; */
}


.bottom-area.close
{
    transform: translateY(350px);
}

.bottom-area .cards
{
    background-color: black;
    /* border-top: 2px solid #bbbbbb; */
}

.cards
{
    display: flex;
    overflow-x: scroll;
    
}

.cards::-webkit-scrollbar
{
    display: none;
}

.card
 {
    flex-shrink: 0;
    margin: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    background: #091947;
    transition: 0.5s;
    /* border: 3px solid rgba(255, 255, 255, 0.7); */
 }
 
.highlight
{
    position: absolute;
    width: 200px;
    height: 300px;
    transform: translate(-3px,-226px);
    border-radius: 15px;
    border: 3px solid rgba(255, 255, 255, 0.7);
    background-color: transparent;
    box-shadow: 
    0 0 4px white,
    inset 0 0 4px white;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
}

.card:hover
{
cursor: pointer;
/* box-shadow: 0 0 30px rgba(255, 255, 255, 0.5); */

transform: scale(1.1);

}

.card:hover .highlight
{
    opacity: 1;
}

/* table card content */

.content
{
  position: inherit;
  width: inherit;
  height: inherit;
  text-align: center;
}

.title-table-card
{
    color: white;
}

.img-table-card
{
  width: inherit;
}

.img-table-card img
{
  width: 90%;
  margin: 10px auto;
  border-radius: 15px;
}

/* Table open close trigger*/

.cards-open-close
{
    position: relative;
    /* position: absolute; */
    width: 80px;
    height: 30px;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid #363636;
    text-shadow: 1px 1px 1px rgb(163, 163, 163);
    user-select: none;
}

.cards-open-close:hover
{
    cursor: pointer;
}

.cards-open-close::before
{
    content: "Hide/Show";
    width: auto;
    height: auto;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid #31437A;
    background-color: #091947;
    color: #bbbbbb;
    /* border: 2px solid #091947; */
    text-shadow: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -90%;
    left: 95%;
    transition: 0.3s;
}

.cards-open-close:hover::before
{
    visibility: visible;
    opacity: 1;
}

  /* Modal */

 .modal
 {
  position: absolute;
  top: 20%;
  left: 42%;
  z-index: 1000;
  border-radius: 15px;
 }

 .overlay
 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
 }

 