@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root
{
  --bgblue: #31437A;
}

body
{
  font-family: 'Montserrat', sans-serif;
}

*
{
  padding: 0;
  margin: 0;
}
.button
{
  width: 150px;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  margin-right: 10px;
  background-color: rgb(62, 79, 173);
  border-radius: 20px;

  color: aliceblue;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  transform-origin: 0%;

}

.button:hover
{
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}
